body{
    max-width:1400px;
    margin:40px auto;
    padding:0 10px;
    font:18px/1.5 -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    color:#444
    }

h1,h2,h3 {
    line-height:1.2
}

@media (prefers-color-scheme: dark){body{color:#c9d1d9;background:#0d1117}
a:link{color:#58a6ff}a:visited{color:#8e96f0}}

.issue-breakdown {
    border: 1px solid black;
    margin: 1rem;
    padding: 2rem 2rem;
    text-align: center;
}

.issue-summary {
    padding: 10px;
    font-size: 30px;


}

.jira-item {
   display: inline-block;
   border: 1px solid grey;
   padding: 10px;
   vertical-align: middle;
   width: 200px;

}

table,tr,tbody {
       padding: 10px;
       border-color: transparent;
       width: 100%;
}

th {
    background: #444444;
    color: #FFFFFF;
}

tbody {
    display: table-row-group;
    width: 100%;

}

.new {
    background: red;
    color: white;
    font-weight: bold;
    text-align: center;
}

.in-progress {
    background: lightgreen;
    color: black;
    font-weight: bold;
}

.release-pending {
    background: green;
    color: black;
    font-weight: bold;
}

.integration {
    background: blue;
    color: white;
    font-weight: bold;
}
